.tag-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0 16px 0;
  padding: 0;
}

.tag-list{  
    background-color: #ff6060;
  align-items: center;
  text-align: center;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  font-size: 10px;
  font-weight: 500;
  height: 18px;
  width: 115px;
  padding: 0;
}

@media screen and (min-width : 1200px) {
  .tag-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0 0 0;
    padding: 0;
  }

  .tag-list{  
  font-size: 14px;
  height: 25px;
  width: 170px;
}
}