

.host-rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logement-detail{
    margin: 15px 20px 16px 20px;
    
}

.logement-title{

font-size: 18px;
font-weight: 500;
line-height: 26px;
margin: 0;
text-align: left;
color: #ff6060;
}

.logement-location{
    margin: 0;  
font-size: 14px;
font-weight: 500;
line-height: 20px;
color: #ff6060;
text-align: left;

}


.logement-description{
    font-size: 12px;
    font-weight: 400;
    margin-top: 23px ;
    margin-left: 11px;
    line-height: 17px;
    color: #ff6060;
}

.logement-equipments{
    font-size: 12px;
    font-weight: 400;
    list-style: none;
    padding: 0;
    margin-top: 23px ;
    margin-left: 11px;
    line-height: 17px;
    color: #ff6060;
}

@media screen and (min-width : 1200px) {
    .logement-detail{
        margin: 30px 100px 24px 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .logement-title{
        font-size: 36px;
        line-height: 51px;
        margin: 0;
        }

    .logement-location{
        font-size: 18px;
        line-height: 25px;
        color: #ff6060;
        text-align: left;
        margin: 0 ;
        }

    .host-rating{
        display: flex;
        flex-direction: column-reverse;
    }

    .logement-collapse{
        margin: 26px 100px 26px 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}