.footer{
    position: relative;
    height: 209px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
    width: 100%;

}

.svg{
    position: absolute;
    top: 62px;
    left: 127px;
}

.paragraph{
    position: absolute;
    top: 101px;
    left: -69px;
    width: 513px;
    height: 46px;
    font-size: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}