.cards{
    margin: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
}


.banner-home{
    height:111px;
    margin: 20px 20px 0 20px;
    background: url('../../utils/images/imgbanner.png'), #00000050;
    background-size: cover;
    background-position: center ;
    background-blend-mode: darken;
    object-fit: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.banner-title{

    color: #FFFFFF;
    margin: 0 0 0 16px;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

span{
    height: 24px;
}

@media screen and (min-width : 1200px) {
    .banner-img {
        height: 223px;
    }
    
    .cards{
        margin: 20px 100px 0 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 56px 50px 56px 50px;
    }

    .banner-title{
        margin: 0;
        font-size: 48px;
        flex-direction: row;
        gap: 15px;
    }

    .banner-home {
        height: 223px;
        margin: 20px 100px 0 100px;
        justify-content: center;
    }
        
}