.carrousel-container {
    margin: 20px 20px 20px 20px;
    position: relative;
    height: 225px;
  }

  .carrousel-navigation {
    margin: 0;
    position: absolute;
    align-items: center;
    top: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .arrow {
    width: 12px;
    height: 20px;
    margin: 0 10px;
  }
  .arrow:hover {
    cursor: pointer;
  }
  
  .arrow-hide{
    display: none;
  }
  .carrousel-img {
    border-radius: 25px;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
  .hide-img {
    display: none;
  }
  .carrousel-text {
    display: none;

  }  

  @media screen and (min-width : 1200px) {

    .carrousel-container {
        margin: 20px 100px 20px 100px;
        position: relative;
        height: 415px;
      }

      .arrow {
        width: 46px;
        height: 80px;
        margin: 0 10px;
      }

    .carrousel-text {
        display: block;
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        text-align: center;
        color: white;
      }
    

}