.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 20px 30px 20px;
    height: 47px;

}

.navigation{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 17px;
    width: 140px;
}

.nav-link{
    color:  #FF6060;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}

.nav-link:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

@media screen and (min-width : 1200px) {

    .header{
    margin: 40px 100px 63px 100px;
    height: 68px;
    }

    .navigation{
        height: 34px;
        width: 309px;
    }

    .nav-link{
        font-size: 24px;
        text-transform: none;
    }

    .navigation-svg{
        width: 210px;
        height: 68px;
    }
}